{% extends 'AdminBundle:Default:basePanel.html.twig' %}
{% block AppPageTitle %}لیست کاربران گروه{% endblock %}
{% block AppPageBody %}
    <div class="container">
        <div class="well well-sm">
            <div class="alert alert-info">
                جهت افزودن کاربر به این گروه نام کاربری را وارد کنید.
            </div>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-xs-12 col-md-12 col-sm-12">
                    {{ form_label(form.term) }}
                    {{ form_widget(form.term) }}
                </div>
                <div class="col-xs-12 col-md-12 col-sm-12">
                    {{ form_label(form.connect) }}
                    {{ form_widget(form.connect) }}
                </div>
                <div class="col-xs-12 col-md-12 col-sm-12">
                    {{ form_label(form.about) }}
                    {{ form_widget(form.about) }}
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-xs-3 col-md-3 col-sm-3">
                    {{ form_widget(form.save) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}
