{% extends 'AdminBundle:Default:basePanel.html.twig' %}
{% block AppPageTitle %}
    قیمت گذاری سفارش:
    {{ order.title }}
{% endblock %}
{% block AppPageBody %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">
                قیمت قابل نمایش به مترجمان
            </div>
        </div>
        <div class="panel-body">
            <div class="container">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-xs-12 col-md-3 col-sm-3">
                        {{ form_label(form.price) }}
                        {{ form_widget(form.price) }}
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-xs-3 col-md-3 col-sm-3">
                        {{ form_widget(form.save) }}
                    </div>
                    <div class="col-xs-4 col-md-4 col-sm-4">
                        <a href="{{ path('adminViewOrder',{'id' : order.id}) }}" class="btn btn-default">انصراف</a>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
