
<div class="row ">
    <div class="col-md-9">
        <p class="text-left text-success" style="padding-left: 30px">
            مجموع آیتم های قابل نمایش:
            {{ countAll }}
        </p>
    </div>
</div>


<table class="table table-responsive table-hover table-bordered">

    <thead class="thead-inverse">
    <tr class="active">
        <th class="danger">ردیف</th>
        {% for header in headers %}
            {% if header != 'hidden' %}
                <th class="success">{{ header }}</th>
            {% endif %}
        {% endfor %}
        <th class="success">امکانات</th>
    </tr>
    </thead>
    <tbody>
    {% for rowcell in viewedData %}
        <tr>
            <th>{{ loop.index }}</th>
            {% for key,colcell  in rowcell%}
                {% if key!='Id' %}
                    {% if colcell != 'hiddenContent' %}
                        <th>{{ colcell }}</th>
                    {% endif %}
                {% endif %}

            {% endfor %}
            <th>
                <div class="btn-group" style="float: none !important;">
                    {% if editParams is null %}
                        {% set editParams = {'id':rowcell.Id} %}
                    {% endif %}
                    {% if editParams is not null %}
                        {% set editParams = editParams | merge({'id':rowcell.Id}) %}
                    {% endif %}
                    {% if btnView is not null %}
                        <a class="btn btn-sm btn-success" href="{{ path( btnView,editParams ) }}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    {% endif %}
                    {% if btnEdit is not null %}
                        <a class="btn btn-sm btn-info" href="{{ path( btnEdit,editParams ) }}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    {% endif %}
                    {% if btnDelete is not null %}
                        <a class="btn btn-sm btn-danger" href="{{ path( btnDelete,editParams ) }}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    {% endif %}
                    {% if btnGo is not null %}
                        <a class="btn btn-sm btn-danger" href="{{ path( btnGo,editParams ) }}">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                        </a>
                    {% endif %}
                </div>
            </th>
        </tr>
    {% endfor %}
    </tbody>
</table>

