
<div class="row ">
    <div class="col-md-3 wel well-sm">
        <div class="btn-group-sm" style="padding-bottom: 10px">
            <a class="btn btn-primary"
                    {% if previousPage == false %}
                        disabled="disabled"
                    {% endif %}
                    {% set previousRoute = RouteParams | merge({'page':page -1}) %}
                    {% set nextRoute = RouteParams | merge({'page':page +1}) %}

               href="{{ path(route,previousRoute) }}"><span class="glyphicon glyphicon-chevron-right"></span>قبلی
            </a>
            <a class="btn btn-primary"
                    {% if nextPage == false %}
                        disabled="disabled"
                    {% endif %}
               href="{{ path(route,nextRoute) }}">بعدی<span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
    </div>
    <div class="col-md-9">
        <p class="text-left text-success" style="padding-left: 30px">
            صفحه
            {{ page }}
            |
              مجموع آیتم های قابل نمایش:
            {{ countAll }}
        </p>
    </div>
</div>


<table class="table table-responsive table-hover table-bordered">

    <thead class="thead-inverse">
        <tr class="active">
            <th class="danger">ردیف</th>
            {% for header in headers %}
                <th class="success">{{ header }}</th>
            {% endfor %}
            <th class="success">امکانات</th>
        </tr>
    </thead>
    <tbody>
    {% for rowcell in viewedData %}
        {% set RouteForCommand = commandRouteParams | merge({(spVariable):rowcell.id}) %}
        <tr>
            <th>{{ loop.index + (perPage * (page -1)) }}</th>
            {% for key,colcell  in rowcell%}
                {% if key!='id' %}
                    <th>{{ colcell }}</th>
                {% endif %}
            {% endfor %}
            <th>
                <div class="btn-group" style="float: none !important;">
                    {% if btnView is not null %}
                        <a class="btn btn-sm btn-success" href="{{ path( btnView,RouteForCommand ) }}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    {% endif %}
                    {% if btnEdit is not null %}
                        <a class="btn btn-sm btn-info" href="{{ path( btnEdit,RouteForCommand ) }}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    {% endif %}
                    {% if btnDelete is not null %}
                        <a class="btn btn-sm btn-danger" href="{{ path( btnDelete,RouteForCommand ) }}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    {% endif %}
                    {% if btnGo is not null %}
                        <a class="btn btn-sm btn-info" href="{{ path( btnGo,RouteForCommand ) }}">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                        </a>
                    {% endif %}
                </div>
            </th>
        </tr>
    {% endfor %}
    </tbody>
</table>

