{% extends 'AdminBundle:blog:basePanel.html.twig' %}
{% block AppPageTitle %}{{ post.title }}{% endblock %}
{% block AppPageBody %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3 class="text-primary">{{ post.title }}</h3>
                <div class="label label-info">
                    ارسال شده توسط
                    {{ submitter }}
                     در
                    {{ jdateService.jdate('Y/m/d',post.dateSubmit) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-top: 10px;">
                {{ post.body | raw}}
            </div>

            {% if userMgr.isLogedIn() == false %}
                <div class="col-xs-12 col-md-12">
                    <div class="alert alert-success">
                        برای ارسال دیدگاه جدید لطفا به حساب کاربری خود
                        <a href="{{ asset('login') }}">وارد شوید</a>
                         یا
                        <a href="{{ asset('register') }}">عضو شوید.</a>
                    </div>
                </div>
            {% endif %}
            {% if userMgr.isLogedIn() == true %}
                <h3>ثبت دیدگاه</h3>
                <div class="col-xs-12 col-md-12">
                    <div class="alert alert-success">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-xs-12 col-md-12 col-sm-12">
                                {{ form_label(form.body) }}
                                {{ form_widget(form.body) }}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-3 col-md-3 col-sm-3">
                                {{ form_widget(form.save) }}
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            {% endif %}
        </div>
        <hr>
        <h3>دیدگاه ها</h3>
        {% for comment in comments %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="alert alert-info">
                    <div class="">{{ comment.submitter }}</div>
                    <hr>
                    <div class="">{{ comment.body }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
